<ng-container *ngIf="this.show">
    <div class="modal form">
        <div class="title">Hello!<br><span>let's create a new task!</span></div>
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

            <label>Name: </label>
            <input id="name" class="input" type="text" name="name" formControlName="name">

            <label>Description: </label>
            <textarea id="description" class="input" name="description" formControlName="description" rows="5"
                cols="33"></textarea>

            <button class="button-confirm" type="submit" [disabled]="!taskForm.valid">create</button>
        </form>
    </div>
    <div (click)="toggleShow()" class="overlay"></div>
</ng-container>