<ng-container *ngIf="this.show">
    <div class="modal">

        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

            <p>
                <label>Name: </label>
                <input type="text" name="taskName" formControlName="taskName">
            </p>
            <p>
                <label>Description: </label>
                <input type="text" name="taskDescription" formControlName="taskDescription">
            </p>

            <button type="submit" [disabled]="!taskForm.valid">Enviar</button>

        </form>

    </div>
    <div (click)="toggleShow()" class="overlay"></div>
</ng-container>