.container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

h1 {
    font-family: arial;
    font-size: 60px;
    font-family: 'Handineat';
}

.line-through {
    text-decoration: line-through;
    font-size: 55px;
    color: rgb(109, 109, 109);

}