.container {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    background: #f1f1f1;
    background-image: linear-gradient(90deg,
            transparent 50px,
            #ffb4b8 50px,
            #ffb4b8 52px,
            transparent 52px),
        linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
    background-size: 100% 40px;
    box-shadow: rgba(0, 0, 0, 0.507) 0px 3px 8px;
    font-family: Handineat;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background-color: transparent;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.close-button svg {
    height: 100%;
    width: 100%;
    fill: rgb(230, 91, 91);
    transition: linear 0.1s;
}

.close-button svg:hover {
    height: 105%;
    width: 105%;
    fill: rgb(255, 0, 0);
}

.lines {
    margin: 5px 40px 0 60px;
    line-height: 40px;
}

/* chekbox */
.checkbox-wrapper input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
    box-sizing: border-box;
    user-select: none;
}

.checkbox-wrapper {
    margin: 2px 0 0 3px;
    position: relative;
    display: block;
}

.checkbox-wrapper .label {
    cursor: pointer;
}

.checkbox-wrapper .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
}

.checkbox-wrapper .label svg {
    vertical-align: middle;
}

.checkbox-wrapper .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s stroke-dashoffset;
    opacity: 1;
}

.checkbox-wrapper .check:checked+label svg g path {
    stroke-dashoffset: 0;
    opacity: 1;
}

/* chekbox end */

.completed {
    text-decoration: line-through;
    color: #8f8f8f;
}